@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    background: white;
}

li,a{
    font-family: montserrat;
    font-weight: 200;
    font-size: 20px;
    color: #000;
    text-decoration: none;

}

header{
    display: flex;
    justify-content:space-between ;
    align-items:center ;
    padding: 30px,10%;
    margin: 20px;
}

.logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;

}
.nav_links{
    list-style: none;
    display: flex;
}
.nav_links li{
    display: inline-block;
    margin: 0px 30px;
    text-transform: capitalize;

   
    
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color:#0088a9
}
.social_icons img{

    width: 25px;
    height: 25px;
    margin-left: 0%;
     margin: 0 8px;

}
.landingpage{
    background-image: url(../images/hero1.jpg);
    height: 100vh;
    background-size: cover;

}
p{
    text-align:left;
    margin-left: 25px;
    position: absolute;
    top: 40%;
    transform: translateX(10%);
    color: rgb(7, 7, 7);
    font-size:  50px;
    background: none;
}
button{
    width: 300px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 30px;
    border-radius: 25px;
    font-weight: bold;
    border:2px solid #0E2A41;
    background: #fff;
    transform: translateX(10%);
    position: absolute;
    top: 68%;
    margin-left: 30px;

}